body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/test1.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, to fix the background in place */
    background-position: center; /* Optional, to center the image */
}


/* Change details of "Plan your Trip" */
.header-title h1{
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 2px;
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
    text-align: center; /* Center align the text */
    padding: 10px; /* Add padding to create space between text and border */
    text-shadow: -2px 0 0 black, 0 1px 0 black, 2px 0 0 black, 0 -2px 0 black;
            
}

.header-title p{
    color: #ffffff;
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.7;
    text-align: center;
    text-shadow: -2px 0 0 black, 0 1px 0 black, 2px 0 0 black, 0 -2px 0 black;
}
/* END*/

/* Change font color of Start and Date label */
#start-date-label {
    color: #ffffff; 
}
#end-date-label {
    color: #ffffff; 
}

.section-heading {
    color: #ffffff; /* Changes color of 'Enter Travel Dates */
}

.section-heading-2 { /* 'ENTER DESTINATION ATTRIBUTES' */
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #0072f5;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}




#destination-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
    margin-top: 1.8rem;
    text-align: center;
}

#destination-label {
    color: #ffffff;
    flex: 1; /* Takes the remaining space */
}

#destination {
    flex: 2; /* Takes more space than the label */
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

#set-destination {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 1rem; /* Add some margin to separate it from the text input */
}


/* Adjusts the date input bars */
.date-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-inputs label,
.date-inputs input {
    width: 48%; /* Adjust the width as needed */
}

/* Adjust form-control styles for smaller inputs */
.travel-dates .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
}
/* END -- input bars */

.result-bg {
    background-color: #f0f0f0; /* Change to your desired background color */
    padding: 10px; /* Add some padding for better appearance */
    border-radius: 5px; /* Add rounded corners */
    margin: 5px 0; /* Add margin between items */
}

/* Add your custom styles here */

/* Responsive Navbar Styles */
.container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


#navbar-show-btn{
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#navbar-show-btn:hover{
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #0065d1;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}


.site-brand { /* This will move the AdventureMate Brand */
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.95;
    text-decoration: none;
    color: white;
}

.site-brand span {
    font-weight: 300;
    color: #F0F0F0; /* Customize the color of the "Mate" part */
}

.flex {
    display: flex;
    align-items: center;
}

/* navbar side menu */
#navbar-collapse {
    background-color: #094486;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.navbar-collapse-rmw {
    /* js related */
    -webkit-transform: translateX(0)!important;
    -ms-transform: translateX(0)!important;
    transform: translateX(0)!important;
}

#navbar-close-btn {
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
}

#navbar-close-btn:hover {
    background-color: #fff;
    color: var(--green);
}

.navbar-nav {
    margin-top: 5rem;
}

.nav-item {
    margin: 1.6rem 0;
}

.nav-link {
    color: #fff;
    font-size: 1.5rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.nav-link:hover {
    opacity: 0.8;
}




/* Responsive Menu Styles */
@media (max-width: 768px) {
    .navbar-collapse {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    }

    #navbar-close-btn {
        display: none;
        color: white;
    }



}
/* Apply the styles to the "Travel Dates" section */
.travel-dates {
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
}

.travel-dates h3 {
    font-size: 1.2rem;
}

.travel-dates form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1.8rem;
}

.travel-dates form .form-control {
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.travel-dates input[type="date"] {
    text-transform: uppercase;
}

.travel-dates input:not([type="submit"])::-webkit-input-placeholder,
.travel-dates input:not([type="submit"])::-moz-placeholder,
.travel-dates input:not([type="submit"]):-ms-input-placeholder,
.travel-dates input:not([type="submit"])::-ms-input-placeholder,
.travel-dates input:not([type="submit"])::placeholder {
    color: #fff;
}

.travel-dates input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.travel-dates .btn {
    margin-top: 0.8rem;
}

/* Itinerary */
/* Colors */
:root {
    --color1: #6dcff6;
    --color2: #8882ee;
    --color3: #dee170;
    --color4: #71b8ca;
    --color5: #e77fa0;
}

/* Variables */
:root {
    --card-count: 5;
    --bgc: #d4ffe4;
    --radius: 1.5rem;
    --line-height: 1.5;
    --line-way-width: 3rem;
    --dot-size: 1.2rem;
    --title-size: 2rem;
    --card-height: 600px;
}

/* .dot */
.dot {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(- var(--line-way-width) / 2);
    z-index: 1;
    transform: translate(-50%, -50%);
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background-color: inherit;
    box-shadow: inset 0 0 0 calc(var(--dot-size) / 3.5);
    transition: all 0.5s;
}

/* .cards */
.cards {
    position: relative;
    height: var(--card-height);
    overflow: hidden;
}

/* .card */
.card {
    position: absolute;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    border-radius: var(--radius);
    color: #fff;
    transition: all 0.5s;
    background-image: linear-gradient(to right, transparent calc(1.5rem - 3px), #fff calc(1.5rem - 3px), #fff calc(1.5rem + 3px), transparent calc(1.5rem + 3px));
    counter-increment: card;
}

.card:nth-of-type(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--line-way-width) / 2);
    z-index: 0;
    transform: translateX(-50%);
    width: calc(6px * 2);
    height: var(--title-size);
    background-color: inherit;
}

/* @for loop converted to CSS custom properties */
:root {
    --card-count: 5;
    --colors: #6dcff6, #8882ee, #dee170, #71b8ca, #e77fa0;
}

/* Loop through .card elements */
.card:nth-of-type(n) {
    --i: 1; /* Initialize the loop counter variable */
}

.card {
    transform: translateY(calc(var(--i) - 1) / var(--card-count) * (100% - var(--radius)));
    /* Apply background-color from the list of colors */
    background-color: var(--colors);
}

/* Increment the loop counter variable */
.card:nth-of-type(n) {
    --i: calc(var(--i) + 1);
}


/* .cards.is-active */
.cards.is-active .card {
    transform: translateY(0) !important;
}


.cards.is-active .card.is-active {
    transform: translateY(7.5%) !important;
}

.cards.is-active .card.is-active .card__title {
    transform: translateY(0);
}

.cards.is-active .card.is-active .card__title::after {
    transform: scale(1);
}

.cards.is-active .card.is-active .schedules {
    opacity: 1;
}

.cards.is-active .card:nth-of-type(1).is-active {
    transform: translateY(0%) !important;
}

.cards.is-active .card.is-active ~ .card {
    transform: translateY(100%) !important;
}

.cards.is-active .card.is-active + .card {
    transform: translateY(calc(92.5% - var(--radius))) !important;
}

/* .card__title */
.card__title {
    position: relative;
    margin: 0 1.5rem 0.25em var(--line-way-width);
    padding-top: 1rem;
    background-color: inherit;
    font-size: var(--title-size);
    font-weight: 900;
    text-transform: capitalize;
    cursor: pointer;
    transition: transform 0.3s;
}

.card__title::after {
    content: 'day ' counter(card);
    display: block;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
}

.card__title::before {
    content: '';
    position: absolute;
    top: calc(50% + 0.5rem);
    box-shadow: inset 0 0 0 calc(var(--dot-size) / 3.5);
}

.card.is-active .card__title::before {
    box-shadow: inset 0 0 0 var(--dot-size);
}

/* .schedules */
.schedules {
    background-color: inherit;
    max-height: calc(100% - calc(var(--title-size) * var(--line-height) + 1rem));
    background-image: inherit;
    padding-left: var(--line-way-width);
    padding-right: 1.5rem;
    padding-bottom: calc(var(--card-height) * 0.15 + calc(var(--radius) * 16px / 1rem));
    overflow: auto;
    transition: opacity 0.3s;
    opacity: 0;
}

/* .schedules__time */
.schedules__time {
    position: relative;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    background-color: inherit;
}

.schedules__time::before {
    content: '';
    position: absolute;
    font-size: 1.6em;
    box-shadow: none;
    transform: translate(-50%, -50%) scale(0);
    transition-delay: 0.3s;
}

.schedules__time::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    box-shadow: inset 0 0 0 var(--dot-size);
    transform: translate(-50%, -50%) scale(0);
    transition-delay: 0.5s;
}

.card.is-active .schedules__time {
    .schedules__time::before,
    .schedules__time::after {
        transform: translate(-50%, -50%) scale(1);
        transition-delay: 0.3s;
    }

    .schedules__time::after {
        transition-delay: 0.35s;
    }
}

/* .schedules__info */
.schedules__info {
    margin-bottom: 1rem;
}

.schedules__info span {
    color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
}

/* .new-card */
.new-card {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 6rem;
    margin-top: -var(--radius);
    border: none;
    border-radius: var(--radius);
    outline: none;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #999;
    background: #fff;
    cursor: pointer;
}

.new-card:active {
    top: 1px;
}

/* .new-card::before */
.new-card::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 3px;
    background-image: linear-gradient(0deg, transparent calc(50% - 1px), currentColor calc(50% - 1px), currentColor calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(90deg, transparent calc(50% - 1px), currentColor calc(50% - 1px), currentColor calc(50% + 1px), transparent calc(50% + 1px));
}


/* .box */
.box {
width: 360px;
margin: 0 auto;
font-family: sans-serif;
line-height: var(--line-height);
border-radius: var(--radius);
box-shadow: 0 1.5rem 6rem -1rem rgba(0, 0, 0, 0.3);
}

.box img {
max-width: 100%;
height: auto;
}

/* Reset */
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
height: 100%;
}

body {
min-height: 100%;
margin: 0;
background-color: var(--bgc);
color: #222;
}

.intro {
width: 80%;
max-width: 30rem;
padding-bottom: 1rem;
margin: 0 auto 1em;
padding-top: 0.5em;
text-align: center;
text-transform: capitalize;
border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.intro small {
display: block;
opacity: 0.5;
font-style: italic;
text-transform: none;
}

.info {
position: absolute;
position: fixed;
bottom: 0;
right: 0;
margin: 0;
padding: 1em;
font-size: 0.9em;
font-style: italic;
font-family: serif;
text-align: right;
opacity: 0.5;
}

.info a {
color: inherit;
}
